<div class="row divpad text-white" ng-controller="aboutmeController">
    <div class="col-lg-3 col-xs-12 ">
      <label class="btn btn-default" title="Click to upload new">
        <img ng-src={{imgLocation}} class="img-responsive rounded-circle" alt="Cinque Terre" width="200" height="200">
        <input type="file" hidden ngf-select = "uploadProfilePic($file)" /><label>
    </div>
    <div class="col-lg-9 col-xs-12 " ng-show="!edit">
        <div class="row">
         <div class="col-lg-9">
            <h3  ng-bind="firstname"></h3>
            <h3  ng-bind="lastname"></h3>
         </div>
         <div class="col-lg-3" style="text-align:right">
              <a  href="" ng-click="save()" >  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
         </div>
        </div>
        <div >
            <h6  ng-bind="address"> </h6>
            <h6  ng-bind="city"> </h6>
            <h6  ng-bind="state"> </h6>
            <h6  ng-bind="country"> </h6>
            <h6  ng-bind="university"> </h6>

        </div>
        <div class="row">
                <h6  ng-bind="summary" class="col-lg-9 content-wrap"> </h6>
        </div>



    </div>



            <div class="col-lg-9 col-xs-12 " ng-show="edit">
                    <div class="row">
                     <div class="col-lg-9">
                        <h3 ><input type="text" ng-model="firstname"></h3>
                        <h3 ><input type="text" ng-model="lastname"></h3>
                     </div>
                     <div class="col-lg-3" style="text-align:right">
                          <a href="" ng-click="save()">  <i class="fa fa-floppy-o" aria-hidden="true"></i> </a>
                     </div>
                    </div>
                    <div >
                        <h6> <input type="text" ng-model="address"> </h6>
                        <h6> <input type="text" ng-model="city"></h6>
                        <h6> <input type="text" ng-model="state"></h6>
                        <h6> <input type="text" ng-model="country"></h6>
                        <h6> <input type="text" ng-model="university"></h6>

                    </div>
                    <div class="row">
                            <h6  class="col-lg-9 content-wrap"><input type="text" ng-model="summary"> </h6>
                    </div>



                </div>
