<div class="container col-lg-5" ng-controller="loginController">

        <form class="center-block verticle-center form-container">
            <h2>Forget Password</h2>
            <div class="form-group">
                <input type="text" id="txtUsername" class="form-control" placeholder="Username" ng-model="pwdusername">
            </div>
            <h2 class="col-md-12 text-center">OR</h2>
            <div class="form-group">
                <input type="text" id="txtEmail" class="form-control" placeholder="Email" ng-model="pwdemail">
            </div>

            <div class="row">
                <div class="form-group col-xs-6 col-md-4 col-lg-4">
                    <input type="button" ng-click="sendPassword" id="btn-send-password" class="btn btn-success" value="Send Password">
                </div>

            </div>
        </form>

    </div>

