<!DOCTYPE html>
<html lang="en">
<meta name="google-signin-client_id" content="861304437784-82a1j2qqg4vujlo9prrlsra8aqoc8o34.apps.googleusercontent.com">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="loginController.js?ver=1"></script>
</head>

<body class="background-img" ng-app="myApp">
    <div class="container col-lg-5" ng-controller="loginController">
          
        <form class="center-block verticle-center form-container">
            <h2>Forget Password</h2>
            <div class="form-group">
                <input type="text" id="txtUsername" class="form-control" placeholder="Username" ng-model="pwdusername">
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-md-4 col-lg-4">
                    <input type="button" ng-click="sendPassword()" id="btn-send-password" class="btn btn-success" value="Send Password">
                </div>

            </div>
        </form>

    </div>

</body>

</html>