
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="loginController.js?ver=2"></script>
</head>

<body class="background-img" ng-app="loginApp" ng-init="sessionString=''">
    <div class="container col-lg-5" ng-controller="loginController">

        <form ng-submit="submit()" class="center-block verticle-center form-container login-outer">
            <h2 class="headingh2">Login</h2>


            <div class="form-group">

                <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" required >
                <div class="text-right"><a href="#forgetusername">Forgot username</a></div>
            </div>
            <div class="form-group">

                <input type="password" id="pwd" class="form-control" placeholder="Password" ng-model="pwd" required >
                <div class="text-right"><a href="#forgetpassword">Forgot password</a></div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-md-6">
                    <input type="submit" id="submit" class="btn btn-success" value="Login">
                    <google-sign-in-button button-id="uniqueid" options="options">
                </div>
                
                <div class="form-group col-xs-6  col-sm-6 text-right">
                    </google-sign-in-button><input type="button" id="btn-signup" ng-click="redirectSignup()" class="btn btn-success" value="Sign up">
                </div>
            </div>
            <div class="row">
                <div class=" col-xs-12 col-sm-12">
                    <div class="">

                      <!-- <div class="g-signin2" data-width="100"  data-onsuccess="onSignIn"></div> -->
                      
                </div>
                </div>
            </div>
        </form>

    </div>
    </body>
