<link rel="stylesheet" href="assets/css/discussion.css">
<div ng-controller="displayDiscussionController" class="container row col-lg-12">
<div class="col-lg-7 col-md-12">
  <div class="col-lg-11 bg-white pull-right">
<div class="row col-lg-12 reply-section" style="margin-bottom: 30px;">
  <h4 class="col-lg-8 text-left">Welcome to Discussions Page</h4>
  <a href="/#/gendiscussion" class="btn btn-primary col-lg-4 float-lg-right">Post discussion</a>
</div>
  <div class="discussion-section">
    <div class="col-lg-12 row post-row" ng-repeat="post in postInfo">
        <div title={{post.postString}} class="col-lg-6 text-ellipsis"><a href="/#/discussiondetail/{{post.groupID}}/{{post.postID}}">{{post.postString}}</a></div>
        <div class="col-lg-4 col-md-6 float-md-left text-ellipsis"><a href="/#/profile/{{userInfo[post.userID].userName}}"> {{userInfo[post.userID].firstName}} {{userInfo[post.userID].lastName}}</a></div>
        <div class="col-lg-2 float-lg-right col-md-6 float-md-right">{{post.postedOn|date:"MM/dd/yyyy"}}</div>
    </div>
  </div>
</div>
</div>
<div class="col-lg-5 col-md-12">
  <div class="col-lg-11 float-lg-right bg-white">
  <div class="row">
    <h4 class="col-lg-4">Your Interest(s)</h4>
    <div class="col-lg-8">
      <input type="text" class="form-control col-lg-8 float-lg-right" ng-model="interest" placeholder="Add New Interest" ng-enter="addUserInterest()" />
    </div>
  </div>
  <div class="col-lg-10">
    <span ng-repeat="interest in userInterests track by $index" class="col-lg-3 text-left interest-badge badge badge-primary">
      <span class="text-left col-lg-8">{{interest.tagName}}</span> <i ng-click="deleteUserInterest($index, interest.tagName)" class="col-lg-3 pull-right fa fa-close fa-lg"></i>
    </span>
  </div>
  </div>
</div>

</div>
