<!DOCTYPE html>
<html lang="en">
<meta name="google-signin-client_id" content="861304437784-82a1j2qqg4vujlo9prrlsra8aqoc8o34.apps.googleusercontent.com">

<head>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link rel="stylesheet" href="assets/css/page.css">
  <link rel="stylesheet" href="assets/css/profile.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  <script src="js/indexController.js"></script>
  <script src="components/login/loginController.js"></script>
  <script src="components/signup/signupController.js"></script>
  <script src="components/profile/profileController.js"></script>
  <script src="components/group/groupController.js?ver=1"></script>
  <script src="components/publication/publicationController.js"></script>
  <script src="components/aboutme/aboutmeController.js"></script>
  <script src="components/following/followingCOntroller.js"></script>
  <script src="components/groups/groupsController.js"></script>
  <script src="components/search/searchController.js"></script>
  <script src="components/discussion/genDiscussionController.js"></script>
  <script src="components/discussion/displayDiscussionController.js"></script>
  <script src="components/discussion/discussionDetailController.js"></script>
  <script src="components/group/addGroupController.js"></script>
  <script src="components/group/pendingRequestController.js"></script>
  <script src="components/chat/chat.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
  <script src="assets/js/ng-file-upload-shim.min.js" ></script>
  <script src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
      <script src="https://code.angularjs.org/1.5.0/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </script>
  <script src="assets/js/ng-file-upload.min.js">

  </script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js">

  </script>
  <script src="http://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
  <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">




</head>


<body>

  <div class="background-img">  </div>
      <div ng-app="myApp" ng-controller="indexController" class="outer-div">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h2>ResearchMate</h2>
    <form class="form-inline my-2 my-lg-0 hidden-lg hidden-md" role="search" ng-show="loggedIn">
        <input class="form-control" type="search" ng-model="searchStr" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-default my-2 my-sm-0" type="button" ng-click="searchQuery()" style="margin-left: -5px;"><i class="fa fa-search"></i></button>

      </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/researchmate/#/profile/" class="nav-link">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Discussions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/researchmate/#/gendiscussion/" class="dropdown-item">Post a Discussion</a>
            <a href="/researchmate/#/discussion/-1" class="dropdown-item">View All Discussions</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Groups
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/researchmate/#/creategroup/" class="dropdown-item">Create Group</a>
            <a href="/researchmate/#/groups" class="dropdown-item">View All Groups</a>
          </div>
        </li>
        <li class="nav-item active">
          <a href="/researchmate/#/chat/" class="nav-link">Chat</a>
        </li>
      </ul>
      <div data-toggle="modal" data-target="#pendingReqModal" style="padding-right: 20px; cursor:pointer;" class="form-inline my-1 my-lg-1"><i class="fa fa-2x fa-users" aria-hidden="true"></i>
          <h2 style="color: #fff; margin-top: -20px; margin-left: -10px;" class="badge badge-danger">{{connectionReqCount}}</h2>
      </div>
      <form class="form-inline my-2 my-lg-0 hidden-sm hidden-xs" role="search" ng-show="loggedIn">
        <input class="form-control" type="search" ng-model="searchStr" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-default my-2 my-sm-0" type="button" ng-click="searchQuery()" style="margin-left: -5px;"><i class="fa fa-search"></i></button>

      </form>
       <button class="btn btn-primary ml-10"  ng-click="signOut()">Sign out</button>
    </div>

  </nav>
  <div ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
  <div class="container">
  <!-- <h2>Modal Example</h2>

  <button type="button" class="btn btn-info btn-lg">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="pendingReqModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pending Requests</h4>
        </div>
        <div class="modal-body">
          <h4 ng-hide="connectionReqCount>0">No Pending Request</h4>
          <div ng-repeat="user in users" ng-show="connectionReqCount>0" class="row request-row">
              <img class="col-lg-2 img-responsive rounded-circle" alt="User Image" width="20" height="40" ng-src={{userInfo[user.userID].picture}} />
              <a class="align-self-center col-lg-6 text-ellipsis" href="#">{{user.firstName}} {{user.lastName}}</a>
              <i title="Accept" ng-click="acceptRequest(user.userName)" class="fa fa-2x fa-check text-success col-lg-2" aria-hidden="true"></i>
              <i title="Reject" ng-click="rejectRequest(user.userName)" class="fa fa-2x fa-close text-muted col-lg-2" aria-hidden="true"></i>
          </row>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="javascript:window.location.reload()" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
  <!-- <div class="background-img">  </div>
    <div ng-app="myApp" class="outer-div">
      <nav class="navbar navbar-default navbar-fixed-top" style="background:#D9853B;z-index: 10;">
        <div ng-controller="indexController" class="container-fluid text-white">
          <h2>ResearchMate</h2>
          <div class="menu">
          <ul>
            <li><a href="/researchmate/#/profile/">Home</a></li>
            <li><a href="/researchmate/#/discussion/-1">Discussion</a></li>
            <li><a href="/researchmate/#/groups">Groups</a></li>
          </ul>
          </div>
          <form class="navbar-form" role="search" ng-show="loggedIn">
            <div class="input-group">
              <input type="text" ng-model="searchStr" class="form-control" placeholder="Search" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" ng-click="searchQuery()" type="button"><i class="fa fa-search"></i></button>
              </div>

              <button class="btn btn-primary" style="margin-left:10px;" ng-click="signOut()">Sign out</button>

            </div>

          </form>

        </div>
      </nav>
      <div ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
    </div> -->

</body>

</html>
