<div ng-controller="adminCtrl" style="margin-top:100px">
 <div class="bg-white container">
    <ul class="list-group" ng-repeat="userDetail in userDetails">
        <li class="list-group-item" style="margin-top:20px">
            <div class="row">
                    <img check-image ng-src={{userDetail.userInfo.picture}} class="rounded-circle col-lg-2 " alt="No Image Available" style="height: 140px;">
                   <h5 class="col-lg-4">{{userDetail.user.firstName}} {{userDetail.user.lastName}}</h5>
                   <div class="col-lg-4"></div>
                   <div class="col-lg-2">
                        <input type="button" ng-click="activate(userDetail.user.userName,$index, $event)" value={{userDetail.active?'Deactivate':'Activate'}} class="btn btn-success"></input>
                    </div>
            </div>

        </li>

      </ul>

 </div>
</div>
