<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>

</head>
<body ng-app="myApp" ng-model="allowEdit">
<div ng-controller="profileController" class="container col-lg-8">
<div class="row bg-white">
  <div class="col-lg-12 col-sm-2 text-right"><i ng-show="allowEdit" ng-click="editProfile('genInfo')" class="fa fa-pencil-square-o btnEdit" aria-hidden="true"></i></div>
    <div class="col-lg-3 col-sm-12">
        <img ng-src="{{imgLocation}}" class="img-responsive rounded-circle" alt="Cinque Terre" width="200" height="200">
    </div>
    <div class="col-lg-9 col-sm-12">
        <div class="row">
            <div class="col-12 text-truncate">
             {{firstname}} {{lastname}}
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-truncate">
                {{address}} {{city}} {{state}} {{country}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                {{summary}}
            </div>
          </div>

    </div>
</div>
<div class="row bg-white">
  <div class="col-lg-12 col-sm-2 text-right"><i ng-show="allowEdit" ng-click="editProfile('genInfo')" class="fa fa-pencil-square-o btnEdit" aria-hidden="true"></i></div>
    <h2>Interest</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
            <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
            <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
            <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
         </ul>


    </div>
</div>
<div class="row bg-white">
    <h2>following</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>


    </div>
</div>
<div class="row bg-white">
    <h2>Groups</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>


    </div>
</div>
<div class="row bg-white">
    <h2>Recent Documents</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>


    </div>
</div>
</div>
</body>
</html>
