<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="loginController.js"></script>
</head>
<body>
<div class="container">
<div class="row bg-white">
    <div class="col-lg-6 col-sm-12">
        <img src="studious-girl.jpg" class="img-responsive rounded-circle" alt="Cinque Terre" width="304" height="236">     
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="row">
            <div class="col-12 text-truncate">
             Prtricia alkalge
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-truncate">
                3901 E Hagan St # F, Bloomington, IN 47401
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                'm a people person. I really enjoy meeting and working with a lot of different people,
                 and am known for being a great listener and clear communicator, whether I’m engaging with colleagues or employers.
            </div>
          </div>
          
    </div>
</div>
<div class="row bg-white">
    <h2>Interest</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
            <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
            <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
            <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
         </ul>
                     
          
    </div>
</div>
<div class="row bg-white">
    <h2>following</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>
         
          
    </div>
</div>
<div class="row bg-white">
    <h2>Groups</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>
         
          
    </div>
</div>
<div class="row bg-white">
    <h2>Recent Documents</h2>
    <div class="col-lg-12 col-sm-12">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
         </ul>
         
          
    </div>
</div>
</div>
</body>
</html>