    <div class="container " ng-controller="loginController">
            
        <form action="" method="" class="verticle-center col-lg-8 ">
            <h2>Sign up</h2>
            <div class="row center" align="center">
                <div class="form-group col-lg-6">

                    <input type="text" id="fname" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-lg-6">

                    <input type="text" id="lname" class="form-control" placeholder="Last Name">
                </div>

            </div>

            <div class="form-group">

                <input type="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">

                <input type="password" id="pwd" class="form-control" placeholder="Password">
            </div>
            <div class="row">
                <div class="form-group col-lg-6">

                    <input type="submit" id="submit" class="btn btn-success" value="Create Account">
                </div>
            </div>
        </form>

    </div>


