<div class="container " ng-controller="signupController">
    <form ng-submit="submit()" method="" class="verticle-center col-lg-8 ">
        <h2>Sign up</h2>
        <div class="row center" align="center">
            <div class="form-group col-lg-6">

                <input type="text" id="fname" ng-model="fname" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group col-lg-6">

                <input type="text" id="lname" ng-model="lname" class="form-control" placeholder="Last Name" required>
            </div>

        </div>
        <div class="form-group">

            <input type="text" id="username" ng-model="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group">

            <input type="email" id="email" ng-model="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">

            <input type="password" id="pwd" ng-model="pwd" class="form-control" placeholder="Password" required>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">

                <input type="submit" id="submit" class="btn btn-success" value="Create Account">
            </div>
            <div class="form-group col-lg-6">
              <google-sign-in-button button-id="uniqueid" options="options"></google-sign-in-button>
            </div>

        </div>
    </form>

</div>
