html, body{height:100%; width:100%;}
html{
  margin:0px !important;
  padding:0px !important;

  overflow-x: hidden;
  background: #fff;
}
.top-margin{margin-top:50px;}
.verticle-center{

     margin-top: 20%;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
    }
    .background-img{

   background-image: url(../img/background.jpg);
   background-size: cover; /* <------ */
   background-repeat: no-repeat;
       height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.4;
    }
    .outer-div{
      position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: auto;
    }
    .headingh2{ padding-bottom: 10px; text-align: center;}
#uniqueid{display: inline-block;
    vertical-align: middle;
    margin-left: 20px;}
    .translucent{
      background-color: white;
      opacity: .5;
     }
     .navbar-fixed-top {
       position: fixed !important;
       height: 50px;
       width: 100%;
       display: block;
       top:0;
       left:0;

       margin-bottom: 50px;
     }

     .no-padding{
       padding-left:0px !important;
       padding-right: 0px !important;
     }
.btn{
  cursor: pointer !important;
}

.groups-wrapper{
  margin-top:50px !important;
  padding: 20px 20px !important;
  background: #fff;
}

.groups-wrapper .grouplist{
    padding: 10px 0px;
}

.text-ellipsis{
  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.menu{width:60%;}
.menu ul{list-style: none;margin-bottom: 0;}
.menu ul li{display: inline-block; margin: 3px 10px;}
.menu ul li a{color:#fff}
.bg-white{
  padding: 20px;
}

.container-margin{
  margin-top: 80px;

}


.view-enter,.view-leave {
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -webkit-transition:all .5s;
  transition:all .5s;
}
.view-enter {
  left:20px;
  opacity:0;
  position:absolute;
  top:0;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}
.view-leave {
  left:0;
  opacity:1;
  position:absolute;
  top:0;
}
.view-leave.view-leave-active {
  left:-20px;
  opacity:0;
}

.interest-badge{
    padding: 10px !important;
    margin-left:10px;
}
.interest-badge:first-child{
  margin-left: 0px !important;
}
.bullet-in{
  border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding:5px 20px; border-radius: 20px;
}
