.verticle-center{

     margin-top: 20%;
    color: white;
    background: rgba(255,255,255,0.4);
    padding:inherit;
    }
    .background-img{
        background:	#ECECEA;

    }
    .translucent{
      background-color: white;
      opacity: .5;
     }
     .navbar-fixed-top {
       position: fixed !important;
       height: 50px;
       width: 100%;
       display: block;
       top:0;
       left:0;
      
       margin-bottom: 50px;
     }

     
    
