body{
    background-color: rgb(244, 246, 246);
}
.row{
    padding: 10px 20px;
    margin-top: 10px;
}
.container{
    padding-top: 60px;
}
ul{
    list-style-type: none;
}
.btnEdit
{
  margin-left:5px;
  cursor: pointer;
}
