<div class=" bg-white" ng-controller="groupController" style="padding:10px">

       <h3 style="color:#558C89;font:bold">Groups</h3>
       <div class="row" style="background-color:#558C89"></div>
       <hr style="height:5px;background-color:#D9853B;margin-top: 0;">
       <div class="row" >
          <div class="col-lg-3 text-ellipsis" ng-repeat="groups in groupNames">
              {{groups}}
          </div>
       </div>
       <div style="margin-top:10px;" class="row col-lg-4">
         <input type="button" class="btn btn-primary" ng-click="redirectAddGroup()" value="Add Groups" ></div>
       </div>
       </div>
