<div class="container " ng-controller="searchController">
    <form method="" class="col-lg-12 bg-white">
        <div class="container">
          <h3>Search Results</h3>
          <div class="col-lg-12">
              <select>
              </select>
            <h5 style="padding-bottom: 10px; border-bottom:1px solid #ccc;margin-top:20px;" ng-show="userSearchResult.length>0">User Search Results</h5>
            
            <div ng-repeat="userResult in userSearchResult | orderBy:'firstName'" style="padding: 10px 5px;" class="row">

                  <div class="col-lg-6 col-md-12"><a href="http://localhost/ResearchMate/#/profile/{{userResult.userName}}">
                    {{userResult.firstName}} {{userResult.lastName}}
                  </a></div>
                  <div class="col-lg-3 col-md-6 float-md-left">{{userResult.emailID}}</div>
                  <div ng-show="userResult.userName!=currentUsername" class="col-lg-3 col-md-6 float-md-right float-lg-right">
                    <input type="button" value="Follow" class="btn btn-primary" ng-click="followUser(userResult.userName)"></input>
                  </div>
              </div>
          </div>

          <div class="col-lg-12">
            <h5 style="padding-bottom: 10px; border-bottom:1px solid #ccc;margin-top:20px;" ng-show="groupSearchResult.length>0">Group Search Results</h5>
              <div ng-repeat="groupResult in groupSearchResult" style="padding: 10px 5px;" class="row">

                  <div class="col-lg-6 col-md-12">{{groupResult.groupName}}</div>
                  <div class="col-lg-3 col-md-6 float-md-left">{{groupResult.description}}</div>
                  <div class="col-lg-3 col-md-6 float-md-right float-lg-right">
                    <input type="button" value="Join" class="btn btn-primary" ng-click="joinGroup(groupResult.groupName)"></input>
                  </div>
              </div>
          </div>

          <div class="col-lg-12">
            <h5 style="padding-bottom: 10px; border-bottom:1px solid #ccc;margin-top:20px;" ng-show="skillSearchResult.length>0">Skill Search Results</h5>
              <div ng-repeat="skillResult in skillSearchResult" style="padding: 10px 5px;" class="row">

                <div class="col-lg-6 col-md-12"><a href="http://localhost/ResearchMate/#/profile/{{skillResult.userName}}">
                  {{skillResult.firstName}} {{skillResult.lastName}}
                </a></div>
                <div class="col-lg-3 col-md-6 float-md-left">{{skillResult.emailID}}</div>
                <div ng-show="skillResult.userName!=currentUsername" class="col-lg-3 col-md-6 float-md-right float-lg-right">
                  <input type="button" value="Follow" class="btn btn-primary" ng-click="followUser(skillResult.userName)"></input>
                </div>
              </div>
          </div>

        </div>
    </form>

</div>
